@model SalesWebMvc.Models.Department

@{
	ViewData["Title"] = "Details of Department";
}

<div class="container mb-3">
	<div class="row align-items-center">
		<div class="col">
			<h1>@ViewData["Title"]</h1>
		</div>
		<div class="col">
			<a type="button" class="btn btn-secondary float-right" asp-action="Index">Back to List</a>
		</div>
	</div>
</div>

<hr />

<div>
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
	</dl>
</div>
<div>
	<a type="button" class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
</div>
