@model SalesWebMvc.Models.SalesRecord

@{
    ViewData["Title"] = "Grouping Search";
}

<div class="container mb-3">
    <div class="row align-items-center">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
        <div class="col">
            <a type="button" class="btn btn-secondary float-right" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

<hr />